body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
.search-area {
    text-align: center;
    padding: 100px;
    background-image: url('../images/fondo_padel.jpg');
    background-size: cover;
    color: white;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparente */
}

.nav-link {
    color: black;
}
.nav-link:hover {
    color: white !important;
}