{% extends 'app_padel/base.html' %} 
{% block content %}
<title>App Padel - Inicio</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 <!-- Contenido principal -->
 <div class="content" id="content">
    <div class="container">
        <h1 class="mb-4">Bienvenido a App Padel</h1>
        <h2 class="mb-4">Tu web de Reserva de Pistas de Padel</h2>
        <div class="row mb-4">
            <div class="col-sm-4">
                <a href="{% url 'usuario' %}" class="btn btn-pastel btn-block">Usuario</a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'misReservas' %}" class="btn btn-pastel btn-block">Mis Reservas</a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'clubsDisponibles' %}" class="btn btn-pastel btn-block">Clubs Disponibles</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'crear_reserva' %}" class="btn btn-large">Realiza Una Nueva Reserva</a>
            </div>
        </div>
    </div>
 </div> 
{% endblock %}