<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - App Padel</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>App Padel</h1>
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario" required><br>
            <input type="password" name="password" placeholder="Contraseña" required><br>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p>
            {{error}}
        </p>
        <div class="register-link">
            ¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a>
        </div>
    </div>
</body>
</html>