<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - App Padel</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>App Padel</h1>
        <h2>Registro</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>
        <div class="register-link">
            ¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a>
        </div>
    </div>
</body>
</html>